.square{
    width: 200px;
    height: 500px;
    margin: auto;
    float: left;
    background-color: lightgray; 
    position: absolute;
    left: 0%;
    top: 12%;

}

.intro {
    background-color: white;
}

.hidden{
    visibility: hidden;
}

h1{
    font-size: 25px;
}