.showing-data{
    background: darkgray;
    position: absolute;
    left: 47%;
    bottom: 52%;
    width: 0;
}

.filters{
    display: flex;
    text-align: center;
    position: absolute;
    left: 30%;
    bottom: 75%;
}

.totalPrice{
    position: absolute;
    top: 25%;
    right: 50%;
}
