.finances-menu{

}

.finances-header{
    background-color: darkgray;
    width: 20%;
    text-align: center;
    position: absolute;
    right: 35%;
    /* justify-content: center; */
    display: block;

}

.finances-column-1 {
    /* float: left; */
    position: absolute;
    left: 43%;
    bottom: 26%;
    background-color: darkgray;
    padding-right: 5%;
}

.finances-column-2 {
    /* float: left; */
    position: absolute;
    left: 55%;
    bottom: 26%;
    background-color: darkgray;
    padding-right: 5%;
}

ul{
    list-style: none;
    width: 100%;
    padding: 20%;
}

li {
    padding: 17px;
    width: 100%;
    background: white;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}